body {
    @extend .grey,
    .lighten-2;
}

h1 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    font-weight: 100;
    margin-top: 50px;
    .line {
        img {
            position: absolute;
            margin-left: 6px;
            margin-top: 28px;
        }
    }
}

h2 {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    font-weight: 300;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 42px;
    .line {
        img {
            width: 100px;
            position: absolute;
            margin-left: 4px;
            margin-top: 25px;
        }
    }
}

table {
    tr {
        th {
            border-radius: 0;
            padding: 5px 5px;
            line-height: 12px;
            small {
                display: block;
            }
        }
        td {
            padding: 5px 5px;
            line-height: 12px;
            img {
                width: 100px;
            }
        }
        td:first-child {
            @extend .white;
        }
    }
}

.no-pad {
    padding: 0 !important;
}

.no-shadow {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.no-border-radius {
    border-radius: 0;
}

.position-relative {
    position: relative !important;
}

.col {
    position: relative;
    .background {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
}

.opacity-2 {
    opacity: 0.2;
}

.logo {
    height: 38px;
    vertical-align: middle;
}

.top-bar {
    height: 32px;
    font-size: 11px;
    background: #09098b;
    background: -moz-linear-gradient( left, #09098b 0%, #09098b 51%, #000066 51%, #000066 51%, #000066 100%);
    background: -webkit-linear-gradient( left, #09098b 0%, #09098b 51%, #000066 51%, #000066 51%, #000066 100%);
    background: linear-gradient( to right, #09098b 0%, #09098b 51%, #000066 51%, #000066 51%, #000066 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#09098B", endColorstr="#000066", GradientType=1);
    .material-icons {
        margin-right: 10px;
    }
    .data {
        height: 32px;
    }
}

.top-bar-mobile {
    height: auto;
    .container {
        width: 100%;
        .col {
            padding: 0 45px;
        }
    }
}

.menu {
    z-index: 1000;
    ul {
        li {
            a {
                @extend .blue-text;
                text-transform: uppercase;
                i {
                    @extend .blue-text;
                }
            }
            .btn {
                color: white !important;
            }
        }
    }
    .button-collapse {
        @extend .blue-text;
        float: right;
        margin: 0 5px;
        .material-icons {
            font-size: 38px;
        }
    }
}

.side-nav {
    ul {
        li {
            a {
                @extend .blue-text;
            }
            .btn {
                color: white !important;
            }
        }
    }
}

.no-margin-row {
    margin-bottom: 0;
}

.parallax-container {
    min-height: auto;
    height: auto;
}

.load-img {
    opacity: 0;
}

#index-banner {
    min-height: 550px;
    h1 {
        margin-top: 130px;
    }
    .card {
        .card-content {
            a {
                font-weight: bold;
                position: relative;
                bottom: 5px;
                font-size: 1.3em;
            }
        }
    }
    .buscar-barra {
        margin-top: 24px;
        height: 40px;
        border-radius: 0 5px 5px 0;
        box-shadow: 0;
        &:hover {
            box-shadow: 0;
        }
    }
    .label-barra {
        @extend .white-text;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        font-size: 16px;
    }
}

#header-cotizador {
    h5 {
        font-weight: 100;
    }
}

#services {
    margin-top: -280px;
    .card {
        .card-image {
            max-height: 80%;
            overflow: initial;
            .card-title {
                width: 100%;
                margin-bottom: -50px;
            }
            .btn-floating.halfway-fab {
                position: relative;
                right: auto;
                margin-top: -70px;
                bottom: -20px;
            }
        }
        .card-content {
            a {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .auto {
        margin-top: -50px;
    }
}

.select2 {
    width: 100% !important;
    margin-left: 0 !important;
    font-size: 16px;
    border-radius: 0;
}

.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below {
    margin-top: -40px;
}

#services-personas {
    .card {
        .card-image {
            max-height: 80%;
            overflow: initial;
            .card-title {
                width: 100%;
                margin-bottom: -50px;
            }
            .btn-floating.halfway-fab {
                position: relative;
                right: auto;
                margin-top: -70px;
                bottom: -20px;
            }
        }
        .card-content {
            height: 90px;
            padding-top: 10px;
            a {
                text-transform: uppercase;
                display: block;
                font-weight: bold;
                font-size: 1.3em
            }
            i {
                font-size: .8em;
                line-height: 15px;
                display: block;
            }
        }
    }
}

#pack-baionline {
    min-height: 350px;
}

#info {
    padding-top: 100px;
    .quienes-somos,
    .simple {
        height: 330px;
        .header {
            margin-top: 20px;
        }
        p {
            text-align: justify;
        }
        ul {
            li {
                text-align: justify;
                span {
                    margin-top: -5px;
                    margin-bottom: 10px;
                    vertical-align: middle;
                    font-size: 38px;
                }
            }
        }
    }
    .quienes-somos-img,
    .simple-img {
        height: 450px;
        img {
            height: 480px;
            margin-left: 0px;
        }
    }
    .simple-img {
        .background {
            margin-top: -120px;
            height: 450px;
        }
    }
}

#confiables {
    .confiables-box,
    .solventes-box {
        min-height: 250px;
    }
}

#work {
    @extend .white;
    background: url("./../img/work.jpg") no-repeat top center;
    background-size: 100%;
    padding-top: 200px;
    padding-bottom: 100px;
    .card-content {
        padding-bottom: 100px;
        p {
            text-align: justify;
        }
    }
}

#contact {
    /* label focus color */
    .dropdown-content li>a,
    .dropdown-content li>span {
        @extend .grey-text,
        .text-darken-1;
    }
    .switch label input[type="checkbox"]:checked+.lever {
        @extend .orange;
    }
    .switch label input[type="checkbox"]:checked+.lever:after {
        @extend .orange;
    }
    .chip-large {
        font-size: 16px;
        span {
            font-size: 22px;
            margin-right: 10px;
        }
    }
    .input-field input[type="text"]:focus+label,
    .input-field input[type="tel"]:focus+label,
    .input-field input[type="email"]:focus+label,
    .input-field textarea:focus+label,
    .input-field select:focus+label,
    .input-field option:focus+label {
        @extend .orange-text;
    }
    /* label underline focus color */
    .input-field input[type="text"]:focus,
    .input-field input[type="tel"]:focus,
    .input-field input[type="email"]:focus,
    .input-field textarea:focus,
    .input-field select:focus,
    .input-field option:focus {
        border-bottom: 1px solid #ff9800;
        box-shadow: 0 1px 0 0 #ff9800;
    }
    /* valid color */
    .input-field input[type="text"].valid,
    .input-field input[type="tel"].valid,
    .input-field input[type="email"].valid,
    .input-field textarea.valid {
        border-bottom: 1px solid #fff;
        box-shadow: 0 1px 0 0 #fff;
    }
    /* invalid color */
    .input-field input[type="text"].invalid {
        border-bottom: 1px solid #ff9800;
        box-shadow: 0 1px 0 0 #ff9800;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
        color: #ff9800;
    }
    [type="radio"]+label:before,
    [type="radio"]+label:after {
        margin: 4px 12px;
    }
    [type="radio"]:not(:checked)+label,
    [type="radio"]:checked+label {
        padding: 5px auto;
        padding-left: 35px;
        padding-right: 15px;
    }
    [type="radio"]+label:hover {
        @extend .grey,
        .lighten-2;
        border-radius: 3px;
    }
    [type="radio"]:checked+label {
        @extend .blue-text,
        .text-darken-4;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        border-radius: 3px;
    }
    [type="radio"]:checked+label:after,
    [type="radio"].with-gap:checked+label:before,
    [type="radio"].with-gap:checked+label:after {
        border-color: orange;
    }
    [type="radio"]:checked+label:after,
    [type="radio"].with-gap:checked+label:after {
        @extend .orange;
    }
}

footer {
    .logo {
        width: 250px;
        height: auto;
    }
    p {
        text-align: justify;
    }
}

//custom
@import "responsive";