@media #{$medium-and-down} {
    h1 {
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
        font-weight: 100;
        font-size: 42px;
    }
    h2 {
        font-size: 32px;
        .line {
            img {
                margin-top: 15px;
            }
        }
    }
    .parallax-container {
        h1 {
            text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
            font-weight: 100;
            font-size: 42px;
            margin-top: 60px;
        }
    }
    .carousel {
        height: 350px;
    }
    #index-banner {
        h1 {
            margin-top: 50px;
        }
        .buscar-barra {
            border-radius: 0;
        }
    }
    #services {
        margin-top: -350px;
        .auto {
            margin-top: auto;
        }
    }
    #info {
        padding: 20px 0;
        .quienes-somos,
        .simple {
            height: auto;
            min-height: 320px;
            h2 {
                margin-top: 20px;
            }
        }
        .quienes-somos-img,
        .simple-img {
            height: 320px;
            .background {
                img {
                    margin-left: -50%;
                }
            }
        }
        .simple-img {
            .background {
                margin-top: 0;
                height: 320px;
                img {
                    margin-left: -20%;
                    margin-top: -100px;
                }
            }
        }
    }
    .card-content {
        ul.stepper {
            margin: -1em -24px !important;
            padding: 0 10px !important;
        }
    }
    #work {
        padding: 20px 0;
        h2 {
            margin-top: 10px;
        }
        .card-content {
            padding: 10px;
            padding-bottom: 30px;
        }
    }
    #contact {
        padding: 20px 0;
        h2 {
            margin-top: 0;
        }
        table.responsive-table thead tr {
            display: block;
            padding: 0;
        }
        table.responsive-table tr {
            padding: 0 !important;
        }
        table {
            tr {
                td {
                    min-height: 70px !important;
                    img {
                        width: 100px;
                    }
                }
                th {
                    min-height: 70px !important;
                }
            }
        }
        ul.stepper .cotizador {
            position: relative;
            display: none;
            height: calc(100% - 132px);
            width: inherit;
            overflow: visible;
            margin-left: 10px;
            margin-right: 10px;
            z-index: 100;
            margin-top: 10px;
        }
    }
    #provincia-select .select2-selection__rendered,
    #provincia-select .select2-container--default .select2-selection--single {
        border-radius: 0;
    }
}

@media #{$small-and-down} {
    // styles for small screens and down
    #info {
        padding: 20px 0;
        .quienes-somos,
        .simple {
            height: auto;
            min-height: auto;
            h2 {
                margin-top: 20px;
            }
        }
        .quienes-somos-img,
        .simple-img {
            height: 310px;
            .background {
                img {
                    margin-left: 0%;
                }
            }
        }
        .simple-img {
            .background {
                margin-top: 0;
                height: 310px;
                img {
                    margin-left: -20%;
                    margin-top: -100px;
                }
            }
        }
    }
    #work {
        .row {
            .s6 {
                min-height: 150px;
            }
        }
    }
}